<div id="language-select" ng-controller="Language.DefaultCtrl">
    <div class="language-container">
        <div id="language-srb" class="language-item" ng-click="setLanguage('SRP')">
            <div class="language-txt">СРП</div>
            <div class="language-flag"></div>
        </div>
        <div id="language-eng" class="language-item" ng-click="setLanguage('ENG')">
            <div class="language-txt">ENG</div>
            <div class="language-flag"></div>
        </div>
    </div>
</div>
