<div class="obj-slider-container">
    <div id="objects-slider" class="slider" settings="slickConfig" slick>
        <div style="margin-left: 0;">
            <div id="objects-convert-btn" class="obj-slide-image" ui-sref="objects.list({category: 'convert'})"></div>
            <div class="obj-slide-text">{{convert}}</div>
        </div>
        <div>
            <div id="objects-percuss-btn" class="obj-slide-image" ui-sref="objects.list({category: 'percuss'})"></div>
            <div class="obj-slide-text">{{percuss}}</div>
        </div>
        <div>
            <div id="objects-militar-btn" class="obj-slide-image" ui-sref="objects.list({category: 'militar'})"></div>
            <div class="obj-slide-text">{{militar}}</div>
        </div>
        <div style="margin-right: 0;">
            <div id="objects-revolv-btn" class="obj-slide-image" ui-sref="objects.list({category: 'revolv'})"></div>
            <div class="obj-slide-text">{{revolv}}</div>
        </div>
    </div>
    <div class="arrow-left"></div>
    <div class="arrow-right"></div>
</div>
