@media (min-width: 641px) {

    .language-container {
        height: 140px;
    }

    .language-item {
        height: 138px;
    }

    .language-txt {
        height: 103px;
        font-size: 99px;
    }

    .language-flag {
        width: 210px;
    }

    .splash-footer {
        height: 133px;
    }

    .splash-footer-logo {
        width: 100px;
        height: 133px;
        background-size: contain;
    }

    .splash-footer-txt {
        font-size: 34px;
        line-height: 39px;
        padding-top: 25px;
        width: 191px;

    }

    .splash-footer-content {
        width: 484px;
    }

    .menu-container {
        width: 512px;
        height: 490px;
    }

    .menu-item {
        width: 182px;
        height: 194px;
    }

    .menu-image {
        width: 182px;
        height: 160px;
        background-size: 182px 160px;
    }
    
    .menu-label {
        font-size: 30px;
        line-height: 44px;
        width: 282px;
        height: 44px;
        margin-left: -50px;
    }

    #menu-objects {
        top: 0 !important;
        left: 0 !important;
    }

    #menu-qr {
        top: 0 !important;
        left: 318px !important;
    }

    #menu-location {
        top: 284px !important;
        left: 0 !important;
    }

    #menu-museum {
        top: 284px !important;
        left: 318px !important;
    }

    .header {
        height: 84px;
        border-bottom: 2px solid #009688;
    }

    .back-btn {
        background-size: 82px 82px;
        height: 82px;
        width: 82px;
    }

    .home-btn {
        background-size: 82px 82px;
        height: 82px;
        width: 82px;
    }

    #scan-btn {
        width: 482px;
        height: 482px;
    }

    .scan-image {
        background-size: 360px 360px;
        width: 360px;
        height: 360px;
    }

    .scan-text {
        font-size: 69px;
    }

    .museum-info-labels {
        width: 170px;
    }

    .museum-ticket-labels {
        width: 340px;
    }

    .museum-info-text {
        font-size: 31px;
        line-height: 43px;
        margin-top: 20px;
        padding: 0 30px 20px;
    }

    .map-container {
        height: 414px;
    }

    .location-content {
        top: 84px;
    }

    .map-placeholder {
        height: 414px;
    }

    .angular-google-map{
        height: 414px;
    }

    .angular-google-map-container {
        height: 414px;
    }

    #objects-slider.slider {
        width: 415px;
    }

    #objects-slider .slick-slide {
        width: 415px;
        height: 495px;
        font-size: 30px;
        margin: 0px 20px;
    }

    .obj-slide-image {
        background-size: 400px 400px;
        margin: 0 10px;
        width: 400px;
        height: 400px;
    }

    .obj-slide-text {
        font-size: 30px;
        line-height: 46px;
    }

    .slick-dots li {
        width: 20px;
        height: 20px;
        margin: 0 15px;
    }

    .slick-dots li button {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .objects-list-title {
        font-size: 31px;
    }

    .object-list-content {
        top: 84px;
    }

    .objects-list-desc {
        margin-top: 20px;
        padding: 0 25px;
        font-size: 24px;
        line-height: 34px;
        padding-bottom: 30px;
    }

    .objects-list-item {
        height: 120px;
    }

    .objects-list-item-content {
        height: 100%;
        background-position: 5px 20px;
        padding: 10px 0px 10px 105px;
        font-size: 32px;
        line-height: 100px;
        background-size: 80px 80px;
    }

    .objects-list-item-content.doubleLine {
        line-height: 48px;
        padding-top: 12px;
    }

    .objects-desc {
        margin-top: 20px;
        padding: 0 25px;
        font-size: 24px;
        line-height: 34px;
        padding-bottom: 30px;
    }

    .objects-image-small {
        width: 266px;
        height: 266px;
        border-radius: 20px;
    }

    .zoom-in {
        background-size: 60px 60px;
        width: 60px;
        height: 60px;
        top: 200px;
        left: 196px;
    }

    .objects-data {
        margin-top: 113px;
        padding: 0 25px;
        font-size: 24px;
        line-height: 34px;
        padding-bottom: 30px;
    }

    .objects-facts > .objects-title {
        font-size: 35px;
        margin-bottom: 33px;
        padding-left: 287px;
    }

    .objects-facts > div {
        padding-left: 335px;
        font-size: 24px;
        line-height: 40px;
        background-position: 282px 1px;
        background-size: 40px 40px;
        margin-bottom: 11px;
    }

    .zoom-out {
        background-size: 80px 80px;
        width: 80px;
        height: 80px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

}
